// Contact Modal

#contactModal.modal.fade(tabindex='-1', aria-labelledby='feedbackModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header.bg-gradient-primary-to-secondary.p-4
                h5#feedbackModalLabel.modal-title.font-alt.text-white Talk to us
                button.btn-close.btn-close-white(type='button' data-bs-dismiss='modal', aria-label='Close')
            .modal-body.border-0.p-4
                #successMessage.alert.alert-success.d-flex.align-items-center.d-none(role='alert')
                    svg.bi.bi-exclamation-triangle-fill.flex-shrink-0.me-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewbox='0 0 16 16' role='img' aria-label='Warning:')
                        path(d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z')
                    div
                        | Thank you for your message! We will make sure to contact you back.

                form#contactForm(accept-charset='UTF-8' enctype='multipart/form-data' method="POST")

                    // Name input
                    .form-floating.mb-3
                        input#name.form-control(
                            type='text',
                            name='name'
                            placeholder='Enter your name...'
                            data-sb-validations='required'
                            required
                        )
                        label(for='name') Full name
                        .invalid-feedback(data-sb-feedback='name:required')
                            | A name is required.
                    
                    // Email address input
                    .form-floating.mb-3
                        input#email.form-control(
                            type='email',
                            name='email'
                            placeholder='name@example.com'
                            data-sb-validations='required,email'
                            required
                        )
                        label(for='email') Email address
                        .invalid-feedback(data-sb-feedback='email:required')
                            | An email is required.
                        .invalid-feedback(data-sb-feedback='email:email')
                            | Email is not valid.
                    
                    // Phone number input
                    .form-floating.mb-3
                        input#phone.form-control(
                            type='tel',
                            name='tel'
                            placeholder='(123) 456-7890'
                            data-sb-validations='required'
                            required
                        )
                        label(for='phone') Phone number
                        .invalid-feedback(data-sb-feedback='phone:required')
                            | A phone number is required.
                    
                    // Message input
                    .form-floating.mb-3
                        textarea#message.form-control(
                            type='text',
                            name='message'
                            placeholder='Enter your message here...',
                            style='height: 10rem;'
                            data-sb-validations='required'
                        )
                        label(for='message') Message
                        .invalid-feedback(data-sb-feedback='message:required')
                            | A message is required.

                    // Submit Button
                    .d-grid
                        button#submitButton.btn.btn-primary.rounded-pill.btn-lg(type='submit') Submit